body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1361px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:20px;
  top:245px;
  width:182px;
  height:20px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:20px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:202px;
  top:240px;
  width:200px;
  height:25px;
}
#u2_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u3 {
  position:absolute;
  left:20px;
  top:317px;
  width:100px;
  height:30px;
  font-family:'Arial Negrita', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u4 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:0px;
  top:0px;
  width:1360px;
  height:120px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1360px;
  height:120px;
}
#u7 {
  position:absolute;
  left:2px;
  top:52px;
  width:1356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:10px;
  top:0px;
  width:180px;
  height:140px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:140px;
}
#u9 {
  position:absolute;
  left:2px;
  top:62px;
  width:176px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:0px;
  top:120px;
  width:193px;
  height:30px;
  font-family:'Comic Sans MS Normal', 'Comic Sans MS';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#000099;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:30px;
}
#u10_img.mouseOver {
}
#u10.mouseOver {
}
#u11 {
  position:absolute;
  left:2px;
  top:4px;
  width:189px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:193px;
  top:120px;
  width:193px;
  height:30px;
  font-family:'Comic Sans MS Normal', 'Comic Sans MS';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#000099;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:30px;
}
#u12_img.mouseOver {
}
#u12.mouseOver {
}
#u13 {
  position:absolute;
  left:2px;
  top:4px;
  width:189px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:579px;
  top:120px;
  width:193px;
  height:30px;
  font-family:'Comic Sans MS Normal', 'Comic Sans MS';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#000099;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:30px;
}
#u14_img.mouseOver {
}
#u14.mouseOver {
}
#u15 {
  position:absolute;
  left:2px;
  top:4px;
  width:189px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:771px;
  top:120px;
  width:193px;
  height:30px;
  font-family:'Comic Sans MS Normal', 'Comic Sans MS';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#000099;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:30px;
}
#u16_img.mouseOver {
}
#u16.mouseOver {
}
#u17 {
  position:absolute;
  left:2px;
  top:4px;
  width:189px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:964px;
  top:120px;
  width:193px;
  height:30px;
  font-family:'Comic Sans MS Normal', 'Comic Sans MS';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#000099;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:30px;
}
#u18_img.mouseOver {
}
#u18.mouseOver {
}
#u19 {
  position:absolute;
  left:2px;
  top:4px;
  width:189px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:386px;
  top:120px;
  width:193px;
  height:30px;
  font-family:'Comic Sans MS Normal', 'Comic Sans MS';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#000099;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:30px;
}
#u20_img.mouseOver {
}
#u20.mouseOver {
}
#u21 {
  position:absolute;
  left:2px;
  top:4px;
  width:189px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:222px;
  top:150px;
  visibility:hidden;
}
#u22_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u22_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:164px;
}
#u23_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:175px;
  height:170px;
}
#u24 {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:169px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:38px;
  font-family:'Comic Sans MS Normal', 'Comic Sans MS';
  font-weight:400;
  font-style:normal;
  color:#000066;
  text-align:center;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:38px;
}
#u25_img.mouseOver {
}
#u25.mouseOver {
}
#u26 {
  position:absolute;
  left:2px;
  top:10px;
  width:165px;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:0px;
  top:38px;
  width:169px;
  height:42px;
  font-family:'Comic Sans MS Normal', 'Comic Sans MS';
  font-weight:400;
  font-style:normal;
  color:#000066;
  text-align:center;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:42px;
}
#u27_img.mouseOver {
}
#u27.mouseOver {
}
#u28 {
  position:absolute;
  left:2px;
  top:12px;
  width:165px;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:0px;
  top:80px;
  width:169px;
  height:42px;
  font-family:'Comic Sans MS Normal', 'Comic Sans MS';
  font-weight:400;
  font-style:normal;
  color:#000066;
  text-align:center;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:42px;
}
#u29_img.mouseOver {
}
#u29.mouseOver {
}
#u30 {
  position:absolute;
  left:2px;
  top:12px;
  width:165px;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:0px;
  top:122px;
  width:169px;
  height:42px;
  font-family:'Comic Sans MS Normal', 'Comic Sans MS';
  font-weight:400;
  font-style:normal;
  color:#000066;
  text-align:center;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:42px;
}
#u31_img.mouseOver {
}
#u31.mouseOver {
}
#u32 {
  position:absolute;
  left:2px;
  top:12px;
  width:165px;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:422px;
  top:150px;
  visibility:hidden;
}
#u33_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u33_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u34 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:80px;
}
#u34_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:175px;
  height:86px;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:85px;
}
#u36 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:38px;
  font-family:'Comic Sans MS Normal', 'Comic Sans MS';
  font-weight:400;
  font-style:normal;
  color:#000066;
  text-align:center;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:38px;
}
#u36_img.mouseOver {
}
#u36.mouseOver {
}
#u37 {
  position:absolute;
  left:2px;
  top:10px;
  width:165px;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:0px;
  top:38px;
  width:169px;
  height:42px;
  font-family:'Comic Sans MS Normal', 'Comic Sans MS';
  font-weight:400;
  font-style:normal;
  color:#000066;
  text-align:center;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:42px;
}
#u38_img.mouseOver {
}
#u38.mouseOver {
}
#u39 {
  position:absolute;
  left:2px;
  top:12px;
  width:165px;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:629px;
  top:150px;
  visibility:hidden;
}
#u40_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u40_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u41 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:80px;
}
#u41_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:175px;
  height:86px;
}
#u42 {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:85px;
}
#u43 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:38px;
  font-family:'Comic Sans MS Normal', 'Comic Sans MS';
  font-weight:400;
  font-style:normal;
  color:#000066;
  text-align:center;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:38px;
}
#u43_img.mouseOver {
}
#u43.mouseOver {
}
#u44 {
  position:absolute;
  left:2px;
  top:10px;
  width:165px;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:0px;
  top:38px;
  width:169px;
  height:42px;
  font-family:'Comic Sans MS Normal', 'Comic Sans MS';
  font-weight:400;
  font-style:normal;
  color:#000066;
  text-align:center;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:42px;
}
#u45_img.mouseOver {
}
#u45.mouseOver {
}
#u46 {
  position:absolute;
  left:2px;
  top:12px;
  width:165px;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:991px;
  top:150px;
  visibility:hidden;
}
#u47_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u47_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u48 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:118px;
}
#u48_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:175px;
  height:124px;
}
#u49 {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:123px;
}
#u50 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:38px;
  font-family:'Comic Sans MS Normal', 'Comic Sans MS';
  font-weight:400;
  font-style:normal;
  color:#000066;
  text-align:center;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:38px;
}
#u50_img.mouseOver {
}
#u50.mouseOver {
}
#u51 {
  position:absolute;
  left:2px;
  top:10px;
  width:165px;
  word-wrap:break-word;
}
#u52 {
  position:absolute;
  left:0px;
  top:38px;
  width:169px;
  height:38px;
  font-family:'Comic Sans MS Normal', 'Comic Sans MS';
  font-weight:400;
  font-style:normal;
  color:#000066;
  text-align:center;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:38px;
}
#u52_img.mouseOver {
}
#u52.mouseOver {
}
#u53 {
  position:absolute;
  left:2px;
  top:10px;
  width:165px;
  word-wrap:break-word;
}
#u54 {
  position:absolute;
  left:0px;
  top:76px;
  width:169px;
  height:42px;
  font-family:'Comic Sans MS Normal', 'Comic Sans MS';
  font-weight:400;
  font-style:normal;
  color:#000066;
  text-align:center;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:42px;
}
#u54_img.mouseOver {
}
#u54.mouseOver {
}
#u55 {
  position:absolute;
  left:2px;
  top:12px;
  width:165px;
  word-wrap:break-word;
}
#u56 {
  position:absolute;
  left:22px;
  top:150px;
  visibility:hidden;
}
#u56_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u56_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u57 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:80px;
}
#u57_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:175px;
  height:86px;
}
#u58 {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:85px;
}
#u59 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:38px;
  font-family:'Comic Sans MS Normal', 'Comic Sans MS';
  font-weight:400;
  font-style:normal;
  color:#000066;
  text-align:center;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:38px;
}
#u59_img.mouseOver {
}
#u59.mouseOver {
}
#u60 {
  position:absolute;
  left:2px;
  top:10px;
  width:165px;
  word-wrap:break-word;
}
#u61 {
  position:absolute;
  left:0px;
  top:38px;
  width:169px;
  height:42px;
  font-family:'Comic Sans MS Normal', 'Comic Sans MS';
  font-weight:400;
  font-style:normal;
  color:#000066;
  text-align:center;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:42px;
}
#u61_img.mouseOver {
}
#u61.mouseOver {
}
#u62 {
  position:absolute;
  left:2px;
  top:12px;
  width:165px;
  word-wrap:break-word;
}
#u63 {
  position:absolute;
  left:1157px;
  top:120px;
  width:193px;
  height:30px;
  font-family:'Comic Sans MS Normal', 'Comic Sans MS';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#000099;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:30px;
}
#u63_img.mouseOver {
}
#u63.mouseOver {
}
#u64 {
  position:absolute;
  left:2px;
  top:4px;
  width:189px;
  word-wrap:break-word;
}
#u65 {
  position:absolute;
  left:1191px;
  top:150px;
  visibility:hidden;
}
#u65_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u65_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u66 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:38px;
}
#u66_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:175px;
  height:44px;
}
#u67 {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:43px;
}
#u68 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:38px;
  font-family:'Comic Sans MS Normal', 'Comic Sans MS';
  font-weight:400;
  font-style:normal;
  color:#000066;
  text-align:center;
}
#u68_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:38px;
}
#u68_img.mouseOver {
}
#u68.mouseOver {
}
#u69 {
  position:absolute;
  left:2px;
  top:10px;
  width:165px;
  word-wrap:break-word;
}
#u70 {
  position:absolute;
  left:40px;
  top:325px;
  width:250px;
  height:240px;
}
#u70_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:240px;
}
#u71 {
  position:absolute;
  left:2px;
  top:112px;
  width:246px;
  visibility:hidden;
  word-wrap:break-word;
}
#u72 {
  position:absolute;
  left:690px;
  top:330px;
  width:293px;
  height:30px;
  font-family:'Arial Negrita', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u72_img {
  position:absolute;
  left:0px;
  top:0px;
  width:293px;
  height:30px;
}
#u73 {
  position:absolute;
  left:0px;
  top:0px;
  width:293px;
  word-wrap:break-word;
}
#u74 {
  position:absolute;
  left:690px;
  top:400px;
  width:64px;
  height:16px;
}
#u74_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:16px;
}
#u75 {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  white-space:nowrap;
}
#u76 {
  position:absolute;
  left:690px;
  top:450px;
  width:66px;
  height:16px;
}
#u76_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u77 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u78 {
  position:absolute;
  left:810px;
  top:400px;
  width:45px;
  height:16px;
}
#u78_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:16px;
}
#u79 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  white-space:nowrap;
}
#u80 {
  position:absolute;
  left:810px;
  top:450px;
  width:36px;
  height:16px;
}
#u80_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:16px;
}
#u81 {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  white-space:nowrap;
}
#u82 {
  position:absolute;
  left:690px;
  top:500px;
  width:93px;
  height:16px;
}
#u82_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:16px;
}
#u83 {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  white-space:nowrap;
}
#u84 {
  position:absolute;
  left:810px;
  top:500px;
  width:42px;
  height:16px;
}
#u84_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:16px;
}
#u85 {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  white-space:nowrap;
}
#u87 {
  position:absolute;
  left:0px;
  top:0px;
  width:1360px;
  height:120px;
}
#u87_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1360px;
  height:120px;
}
#u88 {
  position:absolute;
  left:2px;
  top:52px;
  width:1356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u89 {
  position:absolute;
  left:10px;
  top:0px;
  width:180px;
  height:140px;
}
#u89_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:140px;
}
#u90 {
  position:absolute;
  left:2px;
  top:62px;
  width:176px;
  visibility:hidden;
  word-wrap:break-word;
}
#u91 {
  position:absolute;
  left:0px;
  top:120px;
  width:227px;
  height:30px;
  font-family:'Comic Sans MS Normal', 'Comic Sans MS';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#000099;
}
#u91_img {
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:30px;
}
#u91_img.mouseOver {
}
#u91.mouseOver {
}
#u92 {
  position:absolute;
  left:2px;
  top:4px;
  width:223px;
  word-wrap:break-word;
}
#u93 {
  position:absolute;
  left:227px;
  top:120px;
  width:227px;
  height:30px;
  font-family:'Comic Sans MS Normal', 'Comic Sans MS';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#000099;
}
#u93_img {
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:30px;
}
#u93_img.mouseOver {
}
#u93.mouseOver {
}
#u94 {
  position:absolute;
  left:2px;
  top:4px;
  width:223px;
  word-wrap:break-word;
}
#u95 {
  position:absolute;
  left:681px;
  top:120px;
  width:227px;
  height:30px;
  font-family:'Comic Sans MS Normal', 'Comic Sans MS';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#000099;
}
#u95_img {
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:30px;
}
#u95_img.mouseOver {
}
#u95.mouseOver {
}
#u96 {
  position:absolute;
  left:2px;
  top:4px;
  width:223px;
  word-wrap:break-word;
}
#u97 {
  position:absolute;
  left:907px;
  top:120px;
  width:227px;
  height:30px;
  font-family:'Comic Sans MS Normal', 'Comic Sans MS';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#000099;
}
#u97_img {
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:30px;
}
#u97_img.mouseOver {
}
#u97.mouseOver {
}
#u98 {
  position:absolute;
  left:2px;
  top:4px;
  width:223px;
  word-wrap:break-word;
}
#u99 {
  position:absolute;
  left:454px;
  top:120px;
  width:227px;
  height:30px;
  font-family:'Comic Sans MS Normal', 'Comic Sans MS';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#000099;
}
#u99_img {
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:30px;
}
#u99_img.mouseOver {
}
#u99.mouseOver {
}
#u100 {
  position:absolute;
  left:2px;
  top:4px;
  width:223px;
  word-wrap:break-word;
}
#u101 {
  position:absolute;
  left:255px;
  top:150px;
  visibility:hidden;
}
#u101_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u101_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u102 {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:42px;
}
#u102_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:205px;
  height:48px;
}
#u103 {
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:47px;
}
#u104 {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:42px;
  font-family:'Comic Sans MS Normal', 'Comic Sans MS';
  font-weight:400;
  font-style:normal;
  color:#000066;
  text-align:center;
}
#u104_img {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:42px;
}
#u104_img.mouseOver {
}
#u104.mouseOver {
}
#u105 {
  position:absolute;
  left:2px;
  top:12px;
  width:195px;
  word-wrap:break-word;
}
#u106 {
  position:absolute;
  left:496px;
  top:150px;
  visibility:hidden;
}
#u106_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u106_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u107 {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:42px;
}
#u107_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:205px;
  height:48px;
}
#u108 {
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:47px;
}
#u109 {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:42px;
  font-family:'Comic Sans MS Normal', 'Comic Sans MS';
  font-weight:400;
  font-style:normal;
  color:#000066;
  text-align:center;
}
#u109_img {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:42px;
}
#u109_img.mouseOver {
}
#u109.mouseOver {
}
#u110 {
  position:absolute;
  left:2px;
  top:12px;
  width:195px;
  word-wrap:break-word;
}
#u111 {
  position:absolute;
  left:740px;
  top:150px;
  visibility:hidden;
}
#u111_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u111_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u112 {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:42px;
}
#u112_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:205px;
  height:48px;
}
#u113 {
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:47px;
}
#u114 {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:42px;
  font-family:'Comic Sans MS Normal', 'Comic Sans MS';
  font-weight:400;
  font-style:normal;
  color:#000066;
  text-align:center;
}
#u114_img {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:42px;
}
#u114_img.mouseOver {
}
#u114.mouseOver {
}
#u115 {
  position:absolute;
  left:2px;
  top:12px;
  width:195px;
  word-wrap:break-word;
}
#u116 {
  position:absolute;
  left:26px;
  top:150px;
  visibility:hidden;
}
#u116_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u116_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u117 {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:42px;
}
#u117_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:205px;
  height:48px;
}
#u118 {
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:47px;
}
#u119 {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:42px;
  font-family:'Comic Sans MS Normal', 'Comic Sans MS';
  font-weight:400;
  font-style:normal;
  color:#000066;
  text-align:center;
}
#u119_img {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:42px;
}
#u119_img.mouseOver {
}
#u119.mouseOver {
}
#u120 {
  position:absolute;
  left:2px;
  top:12px;
  width:195px;
  word-wrap:break-word;
}
#u121 {
  position:absolute;
  left:1134px;
  top:120px;
  width:227px;
  height:30px;
  font-family:'Comic Sans MS Normal', 'Comic Sans MS';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#000099;
}
#u121_img {
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:30px;
}
#u121_img.mouseOver {
}
#u121.mouseOver {
}
#u122 {
  position:absolute;
  left:2px;
  top:4px;
  width:223px;
  word-wrap:break-word;
}
#u123 {
  position:absolute;
  left:1162px;
  top:152px;
  visibility:hidden;
}
#u123_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u123_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u124 {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:38px;
}
#u124_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:205px;
  height:44px;
}
#u125 {
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:43px;
}
#u126 {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:38px;
  font-family:'Comic Sans MS Normal', 'Comic Sans MS';
  font-weight:400;
  font-style:normal;
  color:#000066;
  text-align:center;
}
#u126_img {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:38px;
}
#u126_img.mouseOver {
}
#u126.mouseOver {
}
#u127 {
  position:absolute;
  left:2px;
  top:10px;
  width:195px;
  word-wrap:break-word;
}
