body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1360px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:0px;
  top:230px;
  width:1370px;
  height:590px;
  overflow:hidden;
}
#u1_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1370px;
  height:590px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(0, 51, 255, 0.188235294117647);
  background-image:none;
}
#u1_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2 {
  position:absolute;
  left:444px;
  top:100px;
  width:416px;
  height:201px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:416px;
  height:201px;
}
#u3 {
  position:absolute;
  left:2px;
  top:92px;
  width:412px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:573px;
  top:240px;
}
#u4_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u4_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:40px;
  font-family:'Arial Negrita', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:50px;
}
#u6 {
  position:absolute;
  left:2px;
  top:8px;
  width:166px;
  word-wrap:break-word;
}
#u4_state1 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u4_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:40px;
  opacity:0.899999976158142;
  font-family:'Arial Negrita', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:50px;
}
#u8 {
  position:absolute;
  left:2px;
  top:8px;
  width:166px;
  word-wrap:break-word;
  text-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-text-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -moz-text-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u9 {
  position:absolute;
  left:462px;
  top:170px;
  width:380px;
  height:44px;
  font-family:'Arial Negrita', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#000000;
  text-align:center;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:44px;
}
#u10 {
  position:absolute;
  left:0px;
  top:14px;
  width:380px;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:444px;
  top:100px;
  width:416px;
  height:38px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:416px;
  height:38px;
}
#u12 {
  position:absolute;
  left:2px;
  top:11px;
  width:412px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:558px;
  top:100px;
  width:188px;
  height:38px;
  font-family:'Arial Negrita', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:38px;
}
#u14 {
  position:absolute;
  left:0px;
  top:10px;
  width:188px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:1360px;
  height:120px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1360px;
  height:120px;
}
#u17 {
  position:absolute;
  left:2px;
  top:52px;
  width:1356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:10px;
  top:0px;
  width:180px;
  height:140px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:140px;
}
#u19 {
  position:absolute;
  left:2px;
  top:62px;
  width:176px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:0px;
  top:120px;
  width:193px;
  height:30px;
  font-family:'Comic Sans MS Normal', 'Comic Sans MS';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#000099;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:30px;
}
#u20_img.mouseOver {
}
#u20.mouseOver {
}
#u21 {
  position:absolute;
  left:2px;
  top:4px;
  width:189px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:193px;
  top:120px;
  width:193px;
  height:30px;
  font-family:'Comic Sans MS Normal', 'Comic Sans MS';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#000099;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:30px;
}
#u22_img.mouseOver {
}
#u22.mouseOver {
}
#u23 {
  position:absolute;
  left:2px;
  top:4px;
  width:189px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:579px;
  top:120px;
  width:193px;
  height:30px;
  font-family:'Comic Sans MS Normal', 'Comic Sans MS';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#000099;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:30px;
}
#u24_img.mouseOver {
}
#u24.mouseOver {
}
#u25 {
  position:absolute;
  left:2px;
  top:4px;
  width:189px;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:771px;
  top:120px;
  width:193px;
  height:30px;
  font-family:'Comic Sans MS Normal', 'Comic Sans MS';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#000099;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:30px;
}
#u26_img.mouseOver {
}
#u26.mouseOver {
}
#u27 {
  position:absolute;
  left:2px;
  top:4px;
  width:189px;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:964px;
  top:120px;
  width:193px;
  height:30px;
  font-family:'Comic Sans MS Normal', 'Comic Sans MS';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#000099;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:30px;
}
#u28_img.mouseOver {
}
#u28.mouseOver {
}
#u29 {
  position:absolute;
  left:2px;
  top:4px;
  width:189px;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:386px;
  top:120px;
  width:193px;
  height:30px;
  font-family:'Comic Sans MS Normal', 'Comic Sans MS';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#000099;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:30px;
}
#u30_img.mouseOver {
}
#u30.mouseOver {
}
#u31 {
  position:absolute;
  left:2px;
  top:4px;
  width:189px;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:222px;
  top:150px;
  visibility:hidden;
}
#u32_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u32_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:164px;
}
#u33_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:175px;
  height:170px;
}
#u34 {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:169px;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:38px;
  font-family:'Comic Sans MS Normal', 'Comic Sans MS';
  font-weight:400;
  font-style:normal;
  color:#000066;
  text-align:center;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:38px;
}
#u35_img.mouseOver {
}
#u35.mouseOver {
}
#u36 {
  position:absolute;
  left:2px;
  top:10px;
  width:165px;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:0px;
  top:38px;
  width:169px;
  height:42px;
  font-family:'Comic Sans MS Normal', 'Comic Sans MS';
  font-weight:400;
  font-style:normal;
  color:#000066;
  text-align:center;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:42px;
}
#u37_img.mouseOver {
}
#u37.mouseOver {
}
#u38 {
  position:absolute;
  left:2px;
  top:12px;
  width:165px;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:0px;
  top:80px;
  width:169px;
  height:42px;
  font-family:'Comic Sans MS Normal', 'Comic Sans MS';
  font-weight:400;
  font-style:normal;
  color:#000066;
  text-align:center;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:42px;
}
#u39_img.mouseOver {
}
#u39.mouseOver {
}
#u40 {
  position:absolute;
  left:2px;
  top:12px;
  width:165px;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:0px;
  top:122px;
  width:169px;
  height:42px;
  font-family:'Comic Sans MS Normal', 'Comic Sans MS';
  font-weight:400;
  font-style:normal;
  color:#000066;
  text-align:center;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:42px;
}
#u41_img.mouseOver {
}
#u41.mouseOver {
}
#u42 {
  position:absolute;
  left:2px;
  top:12px;
  width:165px;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:422px;
  top:150px;
  visibility:hidden;
}
#u43_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u43_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u44 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:80px;
}
#u44_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:175px;
  height:86px;
}
#u45 {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:85px;
}
#u46 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:38px;
  font-family:'Comic Sans MS Normal', 'Comic Sans MS';
  font-weight:400;
  font-style:normal;
  color:#000066;
  text-align:center;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:38px;
}
#u46_img.mouseOver {
}
#u46.mouseOver {
}
#u47 {
  position:absolute;
  left:2px;
  top:10px;
  width:165px;
  word-wrap:break-word;
}
#u48 {
  position:absolute;
  left:0px;
  top:38px;
  width:169px;
  height:42px;
  font-family:'Comic Sans MS Normal', 'Comic Sans MS';
  font-weight:400;
  font-style:normal;
  color:#000066;
  text-align:center;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:42px;
}
#u48_img.mouseOver {
}
#u48.mouseOver {
}
#u49 {
  position:absolute;
  left:2px;
  top:12px;
  width:165px;
  word-wrap:break-word;
}
#u50 {
  position:absolute;
  left:629px;
  top:150px;
  visibility:hidden;
}
#u50_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u50_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u51 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:80px;
}
#u51_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:175px;
  height:86px;
}
#u52 {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:85px;
}
#u53 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:38px;
  font-family:'Comic Sans MS Normal', 'Comic Sans MS';
  font-weight:400;
  font-style:normal;
  color:#000066;
  text-align:center;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:38px;
}
#u53_img.mouseOver {
}
#u53.mouseOver {
}
#u54 {
  position:absolute;
  left:2px;
  top:10px;
  width:165px;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:0px;
  top:38px;
  width:169px;
  height:42px;
  font-family:'Comic Sans MS Normal', 'Comic Sans MS';
  font-weight:400;
  font-style:normal;
  color:#000066;
  text-align:center;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:42px;
}
#u55_img.mouseOver {
}
#u55.mouseOver {
}
#u56 {
  position:absolute;
  left:2px;
  top:12px;
  width:165px;
  word-wrap:break-word;
}
#u57 {
  position:absolute;
  left:991px;
  top:150px;
  visibility:hidden;
}
#u57_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u57_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u58 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:118px;
}
#u58_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:175px;
  height:124px;
}
#u59 {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:123px;
}
#u60 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:38px;
  font-family:'Comic Sans MS Normal', 'Comic Sans MS';
  font-weight:400;
  font-style:normal;
  color:#000066;
  text-align:center;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:38px;
}
#u60_img.mouseOver {
}
#u60.mouseOver {
}
#u61 {
  position:absolute;
  left:2px;
  top:10px;
  width:165px;
  word-wrap:break-word;
}
#u62 {
  position:absolute;
  left:0px;
  top:38px;
  width:169px;
  height:38px;
  font-family:'Comic Sans MS Normal', 'Comic Sans MS';
  font-weight:400;
  font-style:normal;
  color:#000066;
  text-align:center;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:38px;
}
#u62_img.mouseOver {
}
#u62.mouseOver {
}
#u63 {
  position:absolute;
  left:2px;
  top:10px;
  width:165px;
  word-wrap:break-word;
}
#u64 {
  position:absolute;
  left:0px;
  top:76px;
  width:169px;
  height:42px;
  font-family:'Comic Sans MS Normal', 'Comic Sans MS';
  font-weight:400;
  font-style:normal;
  color:#000066;
  text-align:center;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:42px;
}
#u64_img.mouseOver {
}
#u64.mouseOver {
}
#u65 {
  position:absolute;
  left:2px;
  top:12px;
  width:165px;
  word-wrap:break-word;
}
#u66 {
  position:absolute;
  left:22px;
  top:150px;
  visibility:hidden;
}
#u66_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u66_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u67 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:80px;
}
#u67_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:175px;
  height:86px;
}
#u68 {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:85px;
}
#u69 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:38px;
  font-family:'Comic Sans MS Normal', 'Comic Sans MS';
  font-weight:400;
  font-style:normal;
  color:#000066;
  text-align:center;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:38px;
}
#u69_img.mouseOver {
}
#u69.mouseOver {
}
#u70 {
  position:absolute;
  left:2px;
  top:10px;
  width:165px;
  word-wrap:break-word;
}
#u71 {
  position:absolute;
  left:0px;
  top:38px;
  width:169px;
  height:42px;
  font-family:'Comic Sans MS Normal', 'Comic Sans MS';
  font-weight:400;
  font-style:normal;
  color:#000066;
  text-align:center;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:42px;
}
#u71_img.mouseOver {
}
#u71.mouseOver {
}
#u72 {
  position:absolute;
  left:2px;
  top:12px;
  width:165px;
  word-wrap:break-word;
}
#u73 {
  position:absolute;
  left:1157px;
  top:120px;
  width:193px;
  height:30px;
  font-family:'Comic Sans MS Normal', 'Comic Sans MS';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#000099;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:30px;
}
#u73_img.mouseOver {
}
#u73.mouseOver {
}
#u74 {
  position:absolute;
  left:2px;
  top:4px;
  width:189px;
  word-wrap:break-word;
}
#u75 {
  position:absolute;
  left:1191px;
  top:150px;
  visibility:hidden;
}
#u75_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u75_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u76 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:38px;
}
#u76_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:175px;
  height:44px;
}
#u77 {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:43px;
}
#u78 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:38px;
  font-family:'Comic Sans MS Normal', 'Comic Sans MS';
  font-weight:400;
  font-style:normal;
  color:#000066;
  text-align:center;
}
#u78_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:38px;
}
#u78_img.mouseOver {
}
#u78.mouseOver {
}
#u79 {
  position:absolute;
  left:2px;
  top:10px;
  width:165px;
  word-wrap:break-word;
}
#u80 {
  position:absolute;
  left:20px;
  top:245px;
  width:182px;
  height:20px;
}
#u80_img {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:20px;
}
#u81 {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  word-wrap:break-word;
}
#u82 {
  position:absolute;
  left:202px;
  top:240px;
  width:200px;
  height:25px;
}
#u82_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u83 {
  position:absolute;
  left:20px;
  top:310px;
  width:182px;
  height:20px;
}
#u83_img {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:20px;
}
#u84 {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  word-wrap:break-word;
}
#u85 {
  position:absolute;
  left:202px;
  top:305px;
  width:200px;
  height:25px;
}
#u85_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u86 {
  position:absolute;
  left:20px;
  top:365px;
  width:182px;
  height:20px;
}
#u86_img {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:20px;
}
#u87 {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  word-wrap:break-word;
}
#u88 {
  position:absolute;
  left:202px;
  top:360px;
  width:200px;
  height:25px;
}
#u88_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u89 {
  position:absolute;
  left:202px;
  top:470px;
  width:100px;
  height:30px;
  font-family:'Arial Negrita', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u89_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u90 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u91 {
  position:absolute;
  left:20px;
  top:420px;
  width:182px;
  height:20px;
}
#u91_img {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:20px;
}
#u92 {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  word-wrap:break-word;
}
#u93 {
  position:absolute;
  left:202px;
  top:415px;
  width:200px;
  height:25px;
}
#u93_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
