body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1360px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:1360px;
  height:120px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1360px;
  height:120px;
}
#u2 {
  position:absolute;
  left:2px;
  top:52px;
  width:1356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:10px;
  top:0px;
  width:180px;
  height:140px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:140px;
}
#u4 {
  position:absolute;
  left:2px;
  top:62px;
  width:176px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:0px;
  top:120px;
  width:193px;
  height:30px;
  font-family:'Comic Sans MS Normal', 'Comic Sans MS';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#000099;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:30px;
}
#u5_img.mouseOver {
}
#u5.mouseOver {
}
#u6 {
  position:absolute;
  left:2px;
  top:4px;
  width:189px;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:193px;
  top:120px;
  width:193px;
  height:30px;
  font-family:'Comic Sans MS Normal', 'Comic Sans MS';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#000099;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:30px;
}
#u7_img.mouseOver {
}
#u7.mouseOver {
}
#u8 {
  position:absolute;
  left:2px;
  top:4px;
  width:189px;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:579px;
  top:120px;
  width:193px;
  height:30px;
  font-family:'Comic Sans MS Normal', 'Comic Sans MS';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#000099;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:30px;
}
#u9_img.mouseOver {
}
#u9.mouseOver {
}
#u10 {
  position:absolute;
  left:2px;
  top:4px;
  width:189px;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:771px;
  top:120px;
  width:193px;
  height:30px;
  font-family:'Comic Sans MS Normal', 'Comic Sans MS';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#000099;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:30px;
}
#u11_img.mouseOver {
}
#u11.mouseOver {
}
#u12 {
  position:absolute;
  left:2px;
  top:4px;
  width:189px;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:964px;
  top:120px;
  width:193px;
  height:30px;
  font-family:'Comic Sans MS Normal', 'Comic Sans MS';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#000099;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:30px;
}
#u13_img.mouseOver {
}
#u13.mouseOver {
}
#u14 {
  position:absolute;
  left:2px;
  top:4px;
  width:189px;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:386px;
  top:120px;
  width:193px;
  height:30px;
  font-family:'Comic Sans MS Normal', 'Comic Sans MS';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#000099;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:30px;
}
#u15_img.mouseOver {
}
#u15.mouseOver {
}
#u16 {
  position:absolute;
  left:2px;
  top:4px;
  width:189px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:222px;
  top:150px;
  visibility:hidden;
}
#u17_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u17_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u18 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:164px;
}
#u18_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:175px;
  height:170px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:169px;
}
#u20 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:38px;
  font-family:'Comic Sans MS Normal', 'Comic Sans MS';
  font-weight:400;
  font-style:normal;
  color:#000066;
  text-align:center;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:38px;
}
#u20_img.mouseOver {
}
#u20.mouseOver {
}
#u21 {
  position:absolute;
  left:2px;
  top:10px;
  width:165px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:0px;
  top:38px;
  width:169px;
  height:42px;
  font-family:'Comic Sans MS Normal', 'Comic Sans MS';
  font-weight:400;
  font-style:normal;
  color:#000066;
  text-align:center;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:42px;
}
#u22_img.mouseOver {
}
#u22.mouseOver {
}
#u23 {
  position:absolute;
  left:2px;
  top:12px;
  width:165px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:0px;
  top:80px;
  width:169px;
  height:42px;
  font-family:'Comic Sans MS Normal', 'Comic Sans MS';
  font-weight:400;
  font-style:normal;
  color:#000066;
  text-align:center;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:42px;
}
#u24_img.mouseOver {
}
#u24.mouseOver {
}
#u25 {
  position:absolute;
  left:2px;
  top:12px;
  width:165px;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:0px;
  top:122px;
  width:169px;
  height:42px;
  font-family:'Comic Sans MS Normal', 'Comic Sans MS';
  font-weight:400;
  font-style:normal;
  color:#000066;
  text-align:center;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:42px;
}
#u26_img.mouseOver {
}
#u26.mouseOver {
}
#u27 {
  position:absolute;
  left:2px;
  top:12px;
  width:165px;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:422px;
  top:150px;
  visibility:hidden;
}
#u28_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u28_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:80px;
}
#u29_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:175px;
  height:86px;
}
#u30 {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:85px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:38px;
  font-family:'Comic Sans MS Normal', 'Comic Sans MS';
  font-weight:400;
  font-style:normal;
  color:#000066;
  text-align:center;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:38px;
}
#u31_img.mouseOver {
}
#u31.mouseOver {
}
#u32 {
  position:absolute;
  left:2px;
  top:10px;
  width:165px;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:0px;
  top:38px;
  width:169px;
  height:42px;
  font-family:'Comic Sans MS Normal', 'Comic Sans MS';
  font-weight:400;
  font-style:normal;
  color:#000066;
  text-align:center;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:42px;
}
#u33_img.mouseOver {
}
#u33.mouseOver {
}
#u34 {
  position:absolute;
  left:2px;
  top:12px;
  width:165px;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:629px;
  top:150px;
  visibility:hidden;
}
#u35_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u35_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u36 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:80px;
}
#u36_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:175px;
  height:86px;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:85px;
}
#u38 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:38px;
  font-family:'Comic Sans MS Normal', 'Comic Sans MS';
  font-weight:400;
  font-style:normal;
  color:#000066;
  text-align:center;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:38px;
}
#u38_img.mouseOver {
}
#u38.mouseOver {
}
#u39 {
  position:absolute;
  left:2px;
  top:10px;
  width:165px;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:0px;
  top:38px;
  width:169px;
  height:42px;
  font-family:'Comic Sans MS Normal', 'Comic Sans MS';
  font-weight:400;
  font-style:normal;
  color:#000066;
  text-align:center;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:42px;
}
#u40_img.mouseOver {
}
#u40.mouseOver {
}
#u41 {
  position:absolute;
  left:2px;
  top:12px;
  width:165px;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:991px;
  top:150px;
  visibility:hidden;
}
#u42_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u42_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u43 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:118px;
}
#u43_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:175px;
  height:124px;
}
#u44 {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:123px;
}
#u45 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:38px;
  font-family:'Comic Sans MS Normal', 'Comic Sans MS';
  font-weight:400;
  font-style:normal;
  color:#000066;
  text-align:center;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:38px;
}
#u45_img.mouseOver {
}
#u45.mouseOver {
}
#u46 {
  position:absolute;
  left:2px;
  top:10px;
  width:165px;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:0px;
  top:38px;
  width:169px;
  height:38px;
  font-family:'Comic Sans MS Normal', 'Comic Sans MS';
  font-weight:400;
  font-style:normal;
  color:#000066;
  text-align:center;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:38px;
}
#u47_img.mouseOver {
}
#u47.mouseOver {
}
#u48 {
  position:absolute;
  left:2px;
  top:10px;
  width:165px;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:0px;
  top:76px;
  width:169px;
  height:42px;
  font-family:'Comic Sans MS Normal', 'Comic Sans MS';
  font-weight:400;
  font-style:normal;
  color:#000066;
  text-align:center;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:42px;
}
#u49_img.mouseOver {
}
#u49.mouseOver {
}
#u50 {
  position:absolute;
  left:2px;
  top:12px;
  width:165px;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:22px;
  top:150px;
  visibility:hidden;
}
#u51_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u51_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u52 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:80px;
}
#u52_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:175px;
  height:86px;
}
#u53 {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:85px;
}
#u54 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:38px;
  font-family:'Comic Sans MS Normal', 'Comic Sans MS';
  font-weight:400;
  font-style:normal;
  color:#000066;
  text-align:center;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:38px;
}
#u54_img.mouseOver {
}
#u54.mouseOver {
}
#u55 {
  position:absolute;
  left:2px;
  top:10px;
  width:165px;
  word-wrap:break-word;
}
#u56 {
  position:absolute;
  left:0px;
  top:38px;
  width:169px;
  height:42px;
  font-family:'Comic Sans MS Normal', 'Comic Sans MS';
  font-weight:400;
  font-style:normal;
  color:#000066;
  text-align:center;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:42px;
}
#u56_img.mouseOver {
}
#u56.mouseOver {
}
#u57 {
  position:absolute;
  left:2px;
  top:12px;
  width:165px;
  word-wrap:break-word;
}
#u58 {
  position:absolute;
  left:1157px;
  top:120px;
  width:193px;
  height:30px;
  font-family:'Comic Sans MS Normal', 'Comic Sans MS';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#000099;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:30px;
}
#u58_img.mouseOver {
}
#u58.mouseOver {
}
#u59 {
  position:absolute;
  left:2px;
  top:4px;
  width:189px;
  word-wrap:break-word;
}
#u60 {
  position:absolute;
  left:1191px;
  top:150px;
  visibility:hidden;
}
#u60_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u60_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u61 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:38px;
}
#u61_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:175px;
  height:44px;
}
#u62 {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:43px;
}
#u63 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:38px;
  font-family:'Comic Sans MS Normal', 'Comic Sans MS';
  font-weight:400;
  font-style:normal;
  color:#000066;
  text-align:center;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:38px;
}
#u63_img.mouseOver {
}
#u63.mouseOver {
}
#u64 {
  position:absolute;
  left:2px;
  top:10px;
  width:165px;
  word-wrap:break-word;
}
#u65 {
  position:absolute;
  left:30px;
  top:348px;
  width:182px;
  height:20px;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:20px;
}
#u66 {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  word-wrap:break-word;
}
#u67 {
  position:absolute;
  left:180px;
  top:345px;
  width:200px;
  height:25px;
}
#u67_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u68 {
  position:absolute;
  left:30px;
  top:442px;
  width:182px;
  height:20px;
}
#u68_img {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:20px;
}
#u69 {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  word-wrap:break-word;
}
#u70 {
  position:absolute;
  left:180px;
  top:262px;
  width:200px;
  height:22px;
}
#u70_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u70_input:disabled {
  color:grayText;
}
#u71 {
  position:absolute;
  left:30px;
  top:262px;
  width:182px;
  height:20px;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:20px;
}
#u72 {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  word-wrap:break-word;
}
#u73 {
  position:absolute;
  left:180px;
  top:440px;
  width:200px;
  height:22px;
}
#u73_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u73_input:disabled {
  color:grayText;
}
#u74 {
  position:absolute;
  left:390px;
  top:440px;
  width:200px;
  height:22px;
}
#u74_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u74_input:disabled {
  color:grayText;
}
#u75 {
  position:absolute;
  left:880px;
  top:200px;
  width:290px;
  height:210px;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:210px;
}
#u76 {
  position:absolute;
  left:2px;
  top:97px;
  width:286px;
  visibility:hidden;
  word-wrap:break-word;
}
#u77 {
  position:absolute;
  left:630px;
  top:570px;
  width:0px;
  height:0px;
  font-family:'Arial Negrita', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u78 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u79 {
  position:absolute;
  left:900px;
  top:430px;
  width:100px;
  height:30px;
  font-family:'Comic Sans MS Normal', 'Comic Sans MS';
  font-weight:400;
  font-style:normal;
  color:#000033;
}
#u79_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u80 {
  position:absolute;
  left:2px;
  top:70px;
  width:300px;
  word-wrap:break-word;
}
#u82 {
  position:absolute;
  left:0px;
  top:230px;
  width:1370px;
  height:590px;
  overflow:hidden;
}
#u82_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1370px;
  height:590px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(0, 51, 255, 0.188235294117647);
  background-image:none;
}
#u82_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u83 {
  position:absolute;
  left:444px;
  top:100px;
  width:416px;
  height:201px;
}
#u83_img {
  position:absolute;
  left:0px;
  top:0px;
  width:416px;
  height:201px;
}
#u84 {
  position:absolute;
  left:2px;
  top:92px;
  width:412px;
  visibility:hidden;
  word-wrap:break-word;
}
#u85 {
  position:absolute;
  left:573px;
  top:240px;
}
#u85_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u85_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u86 {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:40px;
  font-family:'Arial Negrita', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u86_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:50px;
}
#u87 {
  position:absolute;
  left:2px;
  top:8px;
  width:166px;
  word-wrap:break-word;
}
#u85_state1 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u85_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u88 {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:40px;
  opacity:0.899999976158142;
  font-family:'Arial Negrita', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u88_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:50px;
}
#u89 {
  position:absolute;
  left:2px;
  top:8px;
  width:166px;
  word-wrap:break-word;
  text-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-text-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -moz-text-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u90 {
  position:absolute;
  left:462px;
  top:170px;
  width:380px;
  height:44px;
  font-family:'Arial Negrita', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#000000;
  text-align:center;
}
#u90_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:44px;
}
#u91 {
  position:absolute;
  left:0px;
  top:14px;
  width:380px;
  word-wrap:break-word;
}
#u92 {
  position:absolute;
  left:444px;
  top:100px;
  width:416px;
  height:38px;
}
#u92_img {
  position:absolute;
  left:0px;
  top:0px;
  width:416px;
  height:38px;
}
#u93 {
  position:absolute;
  left:2px;
  top:11px;
  width:412px;
  visibility:hidden;
  word-wrap:break-word;
}
#u94 {
  position:absolute;
  left:558px;
  top:100px;
  width:188px;
  height:38px;
  font-family:'Arial Negrita', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u94_img {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:38px;
}
#u95 {
  position:absolute;
  left:0px;
  top:10px;
  width:188px;
  word-wrap:break-word;
}

#uBtn {
  background: #26a8ff;
  background-image: -webkit-linear-gradient(top, #26a8ff, #061721);
  background-image: -moz-linear-gradient(top, #26a8ff, #061721);
  background-image: -ms-linear-gradient(top, #26a8ff, #061721);
  background-image: -o-linear-gradient(top, #26a8ff, #061721);
  background-image: linear-gradient(to bottom, #26a8ff, #061721);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 16px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

#uBtn:hover {
  background: #113247;
  background-image: -webkit-linear-gradient(top, #113247, #3cb0fd);
  background-image: -moz-linear-gradient(top, #113247, #3cb0fd);
  background-image: -ms-linear-gradient(top, #113247, #3cb0fd);
  background-image: -o-linear-gradient(top, #113247, #3cb0fd);
  background-image: linear-gradient(to bottom, #113247, #3cb0fd);
  text-decoration: none;
}
